* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html,
body {
  background-color: rgb(18, 18, 18);
  height: 100%;
  color: #ffffff;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #fff !important;
}

.light {
  background-color: rgb(25, 25, 25);
}

.light-input {
  color: #fff !important;
  background-color: rgb(36, 36, 36) !important;
  border-color: rgb(36, 36, 36) !important;
}
